# Modelo supervisado regresión Lineal

Platzi - Curso de Fundamentos Prácticos de Machine Learning

Por: David Alonso Rueda Rodríguez - daruedar@correo.udistrital.edu.co

Tema: Modelo supervisado regresión Lineal.

## Objetivo de la actividad:

Aplicar el modelo supervisado regresión lineal a 2 grupos de datos

## Temas trabajados

A continuación, listado de actividades trabajadas:
    
### Situación Problémica 01

    1. Describir el problema
    2. Describir los datos cargados utilizados
    3. Aplicar algoritmo
    4. Analizar
  
#### Fuente de repositorio de datos:

Datos suministrados en el curso

#### Librerías requeridas:

[Pandas](https://pandas.pydata.org/) - [Matplotlib](https://matplotlib.org/) - [Scikit-learn](https://scikit-learn.org/stable/)

#### Listado de versiones

000 Descripción inicial de los datos, y del problema a desarollar

## 1. Describir el problema

Se desea predecir el salario de un programador utilizando como variable independiente la experiencia de la persona.

## 2. Describir los datos cargados utilizados

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
datos = pd.read_csv("../src/salarios.csv")
datos.head()

   Aexperiencia  Salario
0          10.0    42500
1           8.0    36302
2           5.4    35000
3           2.5    18103
4           1.0    15000

In [16]:
print("- Cantidad de muestras:{0} \n- Cantidad de características:{1}" .format(datos.shape[0], datos.shape[1]))

- Cantidad de muestras:30
- Cantidad de características:2

Los datos suministrados tienen un total de 30 ejemplos y 2 características que describen:

- Aexperiencia = dato de experiencia en años de un programador
- Salario = dato del salario anual expresado en unidades monetarias

#### Descripción de los datos cargados

In [19]:
datos.describe()

       Aexperiencia       Salario
count     30.000000     30.000000
mean       4.870000  27107.100000
std        2.899721   9458.745839
min        1.000000  15000.000000
25%        2.625000  18300.500000
50%        4.000000  26650.000000
75%        6.750000  35201.000000
max       10.000000  42500.000000

datos.corr()